/* google font */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&family=VT323&display=swap");

:root {
	--primary: #1aac83;
	--error: #e7195a;

	font-family: "Poppins", Inter, Avenir, Helvetica, Arial, sans-serif;
	/* font-size: 16px;
	line-height: 24px;
	font-weight: 400; */

	color-scheme: light dark;
	color: rgba(255, 255, 255, 0.87);
	background-color: #343434;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
}

body {
	background: #343434;
	margin: 0;
}
header {
	background: #141414;
}
header .container {
	max-width: 1400px;
	margin: 0 auto;
	padding: 10px 50px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
header a {
	color: #ccc;
	text-decoration: none;
	cursor: pointer;
}
.pages {
	max-width: 1400px;
	padding: 20px 50px;
	margin: 0 auto;
}

@media (prefers-color-scheme: light) {
	:root {
		color: #213547;
		background-color: #ffffff;
	}
}
